.sectionTop {
  padding: 20px;
}

.sectionTable tr:hover {
  background: white;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.buttonRight {
  text-align: right;
  margin-right: "15%";
}

.expandText {
  width: "80%";
}
