.App {
  text-align: center;
  background: lightblue;
}

.stickHeader {
  position: fixed;
  width: 100%;
  top: 0;
  height: 75px;
  background: lightblue;
  border: solid 2px green;
  z-index: 99999999;
}

.eventBody {
  margin-top: 75px;
  min-height: 85vh;
}
